<div class="docs-search">
    <form class="docs-search__form" role="search">
        <label for="docs-search-input" class="docs-search__label">Search documentation</label>
        <div class="docs-search__input-wrapper">
            <i class="fa fa-search docs-search__icon"></i>
            <input 
                type="search" 
                id="docs-search-input"
                class="docs-search__input" 
                placeholder="Search..." 
                aria-label="Search documentation"
            />
        </div>
    </form>
    
    <div class="docs-search__results" id="docs-search-results" hidden>
        <ul class="docs-search__results-list">
            <!-- Search results will be populated here -->
        </ul>
    </div>
</div>