---
layout: :theme/page
id: event
---
<div class="event-header">
    <h1 class="event-header__title dark">{page.title}</h1>
    <img alt="Quarkus Club logo" class="event-header__image" src="{site.image('quarkusclub.jpeg')}"/>
    <p class="event-header__date"><i class="fa fa-calendar-alt"></i>
    {#if page.date.hasTime}
        {page.date.format(global:FULL_DATE_FORMAT)}
    {#else}
        {page.date.format(global:DATE_ONLY_FORMAT)}
    {/if}
    </p>
    <div class="event-header__buttons">

        {#if page.data.containsKey("subscription") && page.date.isAfterNow}
        <a href="{page.data.subscription}" target="_blank" class="event-header__button">Join Us</a>
        {/if}

        {#if page.data.containsKey("youtubeLive")}
        <a href="{page.data.youtubeLive}" target="_blank" class="event-header__button event-header__button--youtube">
            <i class="fa-brands fa-youtube"></i>Youtube Live</a>
        {/if}

        {#if page.data.containsKey("googleDriveSlides")}
        <a href="{page.data.googleDriveSlides}" target="_blank" class="event-header__button event-header__button--gdriver">
            <i class="fa-brands fa-google-drive"></i>Slides</a>
        {/if}
    </div>
</div>

<hr class="divider">

<div class="resume">
    <h2 class="resume__title">{page.title}</h2>
    <h3 class="resume__subtitle">Resume</h3>
    {page.description.markdownify()}
</div>

<div class="speakers">
    <h3 class="resume__subtitle">Speakers</h3>
    {#if page.data.speakers.asStrings.isEmpty }
    Speakers coming soon!
    {/if}

    <div class="speakers">
        {#for id in page.data.speakers}
        {#let speaker = cdi:speakers.get(id)}
        <div>
            <p class="speakers__speaker-name">{speaker.name}</p>
            <p class="speakers__speaker-bio">{speaker.bio}</p>
        </div>
        {/for}
    </div>
</div>

<script src="https://giscus.app/client.js"
        data-repo="quarkusclub/quarkusclub.github.io"
        data-repo-id="R_kgDOOjCTSg"
        data-category="General"
        data-category-id="DIC_kwDOOjCTSs4Cs8t7"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>